* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.pageAccueil button {
  --border: 5px;
  /* the border width */
  --color: #051922;
  /* the color */
  font-size: 35px;
  padding: 0.25em 1.2em;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: var(--color);
  box-shadow: 0 0 0 200px inset var(--c, #0000), 0 0 0 var(--border) inset var(--color);
  background: linear-gradient(var(--color) 0 0) bottom / 100% 0% no-repeat;
  transition: color var(--t, 0.3s), background-size 0.3s;
  position: relative;
  top: 600px;
  left: 35%;
  color: black;
  margin: 20px;
}
.pageAccueil button:before,
.pageAccueil button:after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, calc(100% + 200vmax) 200vmax, 200vmax calc(100% + 200vmax), 0 100%);
  box-shadow: 0 0 0 200vmax var(--color);
  filter: brightness(1.1);
}
.pageAccueil button:after {
  inset: 0 0 0 auto;
  filter: brightness(0.9);
}
.pageAccueil button:hover,
.pageAccueil button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.pageAccueil button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000a;
}
.pageAccueil button:active {
  --c: #0005;
  transform: translate(4px, 4px);
  transition: none;
}
.pageAccueil body {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 80px;
  place-content: center;
  margin: 0;
  height: 100vh;
}
.pageAccueil .modal {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  height: 80vh;
  z-index: 100;
}
.pageAccueil .modal h2 {
  font-size: 5rem;
}
.pageAccueil .modal p {
  font-size: 1.7rem;
  padding: 0.5% 5%;
  text-align: center;
  letter-spacing: 2px;
}
.pageSelection {
  display: none;
  background-image: url("images/bgselection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.pageSelection .players {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageSelection button {
  padding: 5px;
}
.pageSelection .personnages {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  transition: transform 0.5s ease;
}
.pageSelection .personnages img {
  height: 400px;
  margin-right: 10px;
  /* Espace entre les images */
}
