* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.pageAccueil {
  height: 100vh;
}
.pageAccueil .modal {
  display: none;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  height: 80vh;
  z-index: 100;
}
.pageAccueil .modal h2 {
  font-size: 5rem;
}
.pageAccueil .modal p {
  font-size: 1.7rem;
  padding: 0.5% 5%;
  text-align: center;
  letter-spacing: 2px;
}
.boutonAcc {
  display: flex;
  justify-content: center;
  position: relative;
  top: 650px;
  gap: 50px;
}
.tuto,
.startButton {
  width: 20%;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.tuto:after,
.startButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.tuto:hover:after,
.startButton:hover:after {
  transform: translate(0, 0);
}
.tuto:active,
.startButton:active {
  background-color: #ffdeda;
  outline: 0;
  z-index: 100;
}
.tuto:hover,
.startButton:hover {
  outline: 0;
}
.pageSelection1 {
  display: none;
  height: 100vh;
  flex-direction: column;
  background-color: #1e4985;
}
.pageSelection1 .player1 {
  color: white;
  background-color: #1e4985;
  height: 10vh;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.pageSelection1 button {
  padding: 5px;
}
.pageSelection1 .personnages1 {
  background-color: #1e4985;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bouger-haut-bas 1.2s ease-in-out infinite alternate;
}
.pageSelection1 .personnages1 img {
  width: 450px;
  height: 500px;
}
@keyframes bouger-haut-bas {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.pageSelection1 .buttonSelectP2 {
  width: 20%;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: center;
}
.pageSelection2 {
  display: none;
  height: 100vh;
  flex-direction: column;
  background-color: #1e4985;
}
.player2 {
  color: white;
  background-color: #1e4985;
  height: 10vh;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
button {
  padding: 5px;
}
.personnages2 {
  background-color: #1e4985;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bouger-haut-bas 2s ease-in-out infinite alternate;
}
.personnages2 img {
  width: 450px;
  height: 500px;
}
@keyframes bouger-haut-bas {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.buttonStartGame {
  width: 20%;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: center;
}
.phaseDeCombat {
  background-color: aquamarine;
  width: 100vh;
  height: 600px;
}
