* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {}


.pageAccueil {
   height: 100vh;
   background-image: url("./images/waven-saison-lance-dur-cire-momo.png");
   z-index: -10;

   img:nth-child(1){
        animation: bouger-haut-bas 1.2s ease-in-out infinite alternate;
    }

    .modal {
        display: none;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        height: 80vh;
        z-index: 100;

        h2 {
            font-size: 5rem;
        }

        p {
            font-size: 1.7rem;
            padding: 0.5% 5%;
            text-align: center;
            letter-spacing: 2px;
        }
    }
}

.boutonAcc {
    display: flex;
    justify-content: center;
    position: relative;
    top: 650px;
    gap: 50px;

}

.tuto,
.startButton {
    width: 20%;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    text-align: center;
    position: relative; /* Ajoutez cette propriété */
}

.tuto:after,
.startButton:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;

}

.tuto:hover:after,
.startButton:hover:after {
    transform: translate(0, 0);
}

.tuto:active,
.startButton:active {
    background-color: #ffdeda;
    outline: 0;
}

.tuto:hover,
.startButton:hover {
    outline: 0;
}



.pageSelection1 {
    display: none;
    height: 100vh;
    flex-direction: column;
    background-image: url('./images/bg21.jpg');
    background-position-y: 38%;



    .player1 {
        color: white;
        height: 10vh;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        #pseudoPlayer1 {
            height: 30%;
            width: 15%;
        }
    }

    button {
        padding: 5px;
    }

    .personnages1 {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: bouger-haut-bas 1.2s ease-in-out infinite alternate;

        img {
            width: 450px;
            height: 500px;
        }

    }

    @keyframes bouger-haut-bas {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .buttonSelectP2 {
        width: 20%;
        align-items: center;
        background-color: #fee6e3;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-size: 2rem;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        padding: 0 25px;
        position: relative;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        align-self: center;
    }

    // .buttonSelectP2::after{
    //     background-color: #111;
    //     border-radius: 8px;
    //     content: "";
    //     display: block;
    //     height: 48px;
    //     left: 0;
    //     width: 100%;
    //     position: absolute;
    //     top: -2px;
    //     transform: translate(8px, 8px);
    //     transition: transform .2s ease-out;
    //     z-index: -1;
    // }

    // .buttonSelectP2:hover:after{
    //     transform: translate(0, 0);
    // }

    // .buttonSelectP2:active{
    //     background-color: #ffdeda;
    //     outline: 0;
    //     z-index: 100;
    // }
    // .buttonSelectP2:hover{
    //     outline: 0;
    // }
}

.pageSelection2 {
    display: none;
    height: 100vh;
    flex-direction: column;
    // background-color: rgb(30, 73, 133);
    background-image: url('./images/bg21.jpg');
    background-position-y: 38%;

}

.player2 {
    color: white;
    // background-color: rgb(30, 73, 133);
    height: 10vh;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    #pseudoPlayer2 {
        height: 30%;
        width: 15%;
    }
}

button {
    padding: 5px;
}

.personnages2 {
    // background-color: rgb(30, 73, 133);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bouger-haut-bas 2s ease-in-out infinite alternate;

    img {
        width: 450px;
        height: 500px;
    }

}

@keyframes bouger-haut-bas {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.buttonStartGame {
    width: 20%;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-self: center;
}

// .buttonSelectP2::after{
//     background-color: #111;
//     border-radius: 8px;
//     content: "";
//     display: block;
//     height: 48px;
//     left: 0;
//     width: 100%;
//     position: absolute;
//     top: -2px;
//     transform: translate(8px, 8px);
//     transition: transform .2s ease-out;
//     z-index: -1;
// }

// .buttonSelectP2:hover:after{
//     transform: translate(0, 0);
// }

// .buttonSelectP2:active{
//     background-color: #ffdeda;
//     outline: 0;
//     z-index: 100;
// }
// .buttonSelectP2:hover{
//     outline: 0;
// }

.phaseDeCombat {
    // background-color: aquamarine;
    background-image: url('./images/bg25.jpg');
    background-position-x: 60%;
    width: 100vw;
    height: 100vh;
    display: none;

    #combatP1 {
        width: 50%;
        height: 100vh;
        // background-color: pink;
        position: relative;

        h2 {
            text-align: center;
            color: white;

        }

        h3 {
            height: 80vh;
            width: 100%;
            text-align: center;
            background-color: transparent;
            font-size: 5rem;
            position: absolute;
            display: none;
        }

        .imgIopP1,
        .imgCraP1,
        .imgXelP1,
        .imgEniP1 {
            position: absolute;
            top: 10%;
            left: 25%;
            width: 50%;
            display: none;
        }

        .caracteristiquesP1 {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: rgb(0, 136, 255);
            font-size: 2REM;
        }


    }

  

    #combatP2 {
        width: 50%;
        // background-color: rgb(219, 183, 82);
        position: relative;
        height: 100vh;

        h2 {
            text-align: center;
            color: white;

        }

        h3 {
            height: 80vh;
            width: 100%;
            text-align: center;
            background-color: transparent;
            font-size: 5rem;
            position: absolute;
            display: none;


        }


        .imgIopP2,
        .imgCraP2,
        .imgXelP2,
        .imgEniP2 {
            position: absolute;
            top: 10%;
            left: 25%;
            width: 50%;
            display: none;
        }

        .caracteristiquesP2 {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: rgb(0, 136, 255);
            font-size: 2REM;
        }
    }

}
